[Unit]
Description=Spice guest session agent
Documentation=man:spice-vdagent(1)
# Make sure the display is reachable
After=graphical-session.target

[Service]
ExecStart=/usr/bin/spice-vdagent -x

[Install]
WantedBy=graphical-session.target
